<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Choose User</title>
</head>
<body>
    <div class="container">
      <center>
        <fieldset class="chooseuser">
            <legend>Choose user</legend>
            <a href="hostregistation.php">Host</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="Guestregistation.php">Guest</a>
        </fieldset>
      </center>
    </div>

</body>
</html>